*{
  margin: 0;
}

@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #3d3d3d;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

h1{
  color: none;
  margin-top: 40px;
  text-align: center;
  font-size: 105px;
  transition: all ease 250ms;
}

.add{
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  transition: all ease 250ms;
}

.add:hover{
  cursor: pointer;
}

.add:active{
  box-shadow: none;
}

h1:hover{
  color:#00f349;
}